/* mobile wide-screen */
@media (min-width: 280px) {
    .section-container {
        max-width: 640px;
    }
    
        .mobile-menu-div  {
            display: flex;
        }
    }
    
    
    


/* tablets */
@media (min-width: 768px) {
    .section-container {
        max-width: 768px;
    }
        .mobile-menu-div  {
            display:flex;
        }
        .header-cta-btn {
            min-width: 150px;
            border-radius: 25px;
            background-color:rgba(33, 5, 189, 0.76);
            padding: 0.8rem 2rem;    
            font-size: 20px;
            color: white !important;
            text-align: center;
        }
        img{
            margin:20%;
        } 
        .overlapbox{
            h3
            {
                  align-items: center;
                font-size: 25px;
            }
            h1{
                color: white;
                align-items: center;
                font-size: 35px;
            }
            p{
                color:black;
                font-weight: 400;
                font-size: 20px;
               
            }
        } 
        .footertop {
            margin-top:15%;
   display: flex;
   flex-wrap:wrap;
   flex-direction: row;
   gap:5rem;
    justify-content: space-around;
    background-color:black;
    padding-left: 5rem;
    padding-right: 12rem;
    } 
   .list1{
    a{
        font-size: 20px;
        color:grey;
        text-decoration: none;
    }
    h2{
        font-size: 20px;
        color:white;
    }
    h4{
        font-size: 20px;
        color:grey;
        text-decoration: none;
    }
   } 
   .list2{
    a{
        font-size: 20px;
        color:grey;
        text-decoration: none;
    }
    h2{
        font-size: 20px;
        color:white;
    }
    h4{
        font-size: 20px;
        color:grey;
        text-decoration: none;
    }
   } 
   .list3{
    a{
        font-size: 20px;
        color:grey;
        text-decoration: none;
    }
    h2{
        font-size: 20px;
        color:white;
    }
    h4{
        font-size: 20px;
        color:grey;
        text-decoration: none;
    }
   } 
   .list4{
    a{
        font-size: 20px;
        color:grey;
        text-decoration: none;
    }
    h2{
        font-size: 20px;
        color:white;
    }
    h4{
        font-size: 20px;
        color:grey;
        text-decoration: none;
    }
   } 
}

/* laptop */
@media (min-width: 1024px) {
    .section-container {
        max-width: 1280px;
    }
    .mobile-menu-div  {
        display: none;
    }
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgb(235, 232, 232);
        padding: 2rem;
        gap: 20rem;
        }
    .header-nav {
        width: 100%;
        display: flex;
        align-items: center;
        a {
            display: block;
            padding-right: 0rem;
            text-decoration: none;
            color:black;
            font-size: 1rem;
            justify-content: space-between;
            align-content: center;
            margin-right: 1rem;
        }
    }
    footer{
        margin-top: 1rem;
        width: 100%;
        background-color: black;
        align-items: center;
    }
    .footertop {
        margin-top:15%;
display: flex;
flex-wrap:wrap;
flex-direction: row;
justify-content: space-around;
background-color:black;
padding-left: 5px;
padding-right: 5px;
} 
.list1{
a{
    font-size: 20 px;
    color:grey;
    text-decoration: none;
}
h2{
    font-size: 20px;
    color:white;
}
h4{
    font-size: 20px;
    color:grey;
    text-decoration: none;
}
} 
.list2{
a{
    font-size: 20px;
    color:grey;
    text-decoration: none;
}
h2{
    font-size: 20px;
    color:white;
}
h4{
    font-size: 20px;
    color:grey;
    text-decoration: none;
}
} 
.list3{
a{
    font-size: 20px;
    color:grey;
    text-decoration: none;
}
h2{
    font-size: 20px;
    color:white;
}
h4{
    font-size: 20px;
    color:grey;
    text-decoration: none;
}
} 
.list4{
a{
    font-size: 20px;
    color:grey;
    text-decoration: none;
}
h2{
    font-size: 20px;
    color:white;
}
h4{
    font-size: 20px;
    color:grey;
    text-decoration: none;
}
} 
    
}

/* desktop */
@media (min-width: 1280px) {
    .section-container {
        max-width: 1280px;
    }
    .mobile-menu-div  {
        display: none;
    }
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgb(235, 232, 232);
        padding: 2rem;
        gap: 37rem;
        }
    .header-nav {
        width: 100%;
        display: flex;
        align-items: center;
        a {
            display: block;
            padding-right: 0rem;
            text-decoration: none;
            color:black;
            font-size: 1rem;
            justify-content: space-between;
            align-content: center;
            margin-right: 1rem;
        }
    }
    
}

/* even larget screens (TV, Widescreens) */
@media (min-width: 1536px) {
    .section-container {
        max-width: 1536px;
    }
    .mobile-menu-div  {
        display: none;
    }
    .header-nav {
        width: fit-content;
        display: flex;
        a {
            display: block;
            text-decoration: none;
            color:black;
            font-size: 1rem;
            margin-right: 0rem;
        }
    }
}
