/* mobile wide-screen */
@media (min-width: 280px) {
    .section-container {
        max-width: 640px;
    }
    
        .mobile-menu-div  {
            display: flex;
        }
    }
    
    
    


/* tablets */
@media (min-width: 768px) {
    .section-container {
        max-width: 768px;
    }
    
        
        .mobile-menu-div  {
            display:flex;
        }
        
        
        
    
    
}

/* laptop */
@media (min-width: 1024px) {
    .section-container {
        max-width: 1280px;
   
    }
    
    .mobile-menu-div  {
        display: none;
    }
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgb(235, 232, 232);
        padding: 2rem;
        gap: 20rem;
        }
    .header-nav {
        width: 100%;
        display: flex;
        align-items: center;
        a {
            display: block;
            padding-right: 0rem;
            text-decoration: none;
            color:black;
            font-size: 1rem;
            justify-content: space-between;
            align-content: center;
            margin-right: 1rem;
        }
    }
    
}

/* desktop */
@media (min-width: 1280px) {
    .section-container {
        max-width: 1280px;
   
    }
    
    .mobile-menu-div  {
        display: none;
    }
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgb(235, 232, 232);
        padding: 2rem;
        gap: 37rem;
        }
    .header-nav {
        width: 100%;
        display: flex;
        align-items: center;
        a {
            display: block;
            padding-right: 0rem;
            text-decoration: none;
            color:black;
            font-size: 1rem;
            justify-content: space-between;
            align-content: center;
            margin-right: 1rem;
        }
    }
    
}

/* even larget screens (TV, Widescreens) */
@media (min-width: 1536px) {
    .section-container {
        max-width: 1536px;
     
    }
    
    .mobile-menu-div  {
        display: none;
    }
    .header-nav {
        width: fit-content;
        display: flex;
    
        a {
            display: block;
            text-decoration: none;
            color:black;
            font-size: 1rem;
            margin-right: 0rem;
        }
    }
}